<style>
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f2f2f2;
    color: black;
}
.head{
    background-color: #4CAF50;
    color: white;
}
.title{
    text-align: center;
    vertical-align: middle;
}
</style>
<h1 class="title">Movies Database</h1>

<%= link_to 'New Movie', new_movie_path %>
<%= link_to 'Search', search_path %>
<table>
  <thead>
    <tr>
      <th class="head">Name</th>
      <th class="head">Genero</th>
      <th class="head">Description</th>
      <th class="head">Show</th>
      <th class="head">Edit</th>
      <th class="head">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.gender %></td>
        <td><%= movie.description %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
