<h1>New movie</h1>
<%= simple_form_for :movies, url: search_path do |f| %>
  <%= f.input :query %>
  <%= f.submit :search %>
<% end %>

<%= data = JSON.parse(@result.response.to_json) %>
<%= data["hits"].each do |hits|%>
<%= hits%>
<%= end%>
<%= %>


<style type="text/css">
em{
  color: red;
}
</style>
