<style>
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}


th {
    background-color: #f2f2f2;
    color: black;
}
.head{
    background-color: #4CAF50;
    color: white;
}
.title{
    text-align: center;
    vertical-align: middle;
}
</style>
<h1 class="title">Opera</h1>
<table align= "center">
    <head>
        <tr>
            <th class="head">operando 1</th>
            <th class="head">operacion</th>
            <th class="head">operando 2</th>
            <th class="head">resultado</th>
            <th class="head">estimacion</th>
        </tr>
    </head>
    <br>
    <tbody>
        <br>
        <tr>
            <th><%=@operation.num1%></th>
            <th><%=@operation.op%></th>
            <th><%=@operation.num2%></th>
            <th>
                <%= form_for @operation, url: { action: "answer", id: @operation.id }, html: { method: "answer" } do |f| %>
                <%= f.text_field :resultado, :value => "" %>

                <%= f.submit 'Submit', :name => "join" %>
            </th>
            <th>
                <%=@operation.estimacion%>
                <% end %>
            </th>
        </tr>
    </tbody>
</table>
<br>
